

@import url('./Fonts.css');

.content{
    width:75%;
    margin:2px auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contentItem{
    width:40%;
}

.contentItem1{
    width:60%;

}

.spanCss{
    font-family: Vazir;
    font-weight: bold;
    font-size: 15px;
    color:#0c8de9;
}

.spanCss1{
    font-family: Vazir;
    font-weight: bold;
    font-size: 30px;
    color:#000000;

}

.pcss{
    margin:40px 2px ;
    font-family:'Vazir'
}

.img{
    width:100%;
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
    /* border:1px solid black */
 
}

.spanCss{
    color:#0b68c5;
    font-family:Vazir;
    font-weight: bold;
    font-size: 16px;
    margin:5px 0px;
}

.span{

    color:black;
    font-family:Vazir;
    font-weight: bold;
    font-size: 24px;
    margin:5px 0px;

}


.perpos{
    border-radius:50%;
    border:1px solid #0c8de9;
    width:200px;
    height:200px;
    margin:10px 3px;
    display:flex;
    flex-direction:column;
    background-color: #0c8de9;
}
.perpos1{
    border-radius:50%;
    border:1px solid #0c8de9ae;
    width:200px;
    height:200px;
    margin:10px 3px;
    display:flex;
    flex-direction:column;
    background-color: #0c8de9ae;
    
}
.perpos2{
    border-radius:50%;
    border:1px solid #0c8de96d;
    width:200px;
    height:200px;
    margin:10px 3px;
    display:flex;
    flex-direction:column;
    background-color: #0c8de96d;
}
.perpos3{
    border-radius:50%;
    border:1px solid #0c8de933;
    width:200px;
    height:200px;
    margin:10px 3px;
    display:flex;
    flex-direction:column;
    background-color: #0c8de933;
}

.number{
    border:1px solid #d1cfcf6b;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align:center;
    font-family: Yekan;
    font-weight: bold;
    font-size:40px;
    margin-right: 70px;
    background-color: #d1cfcf6b;
}

.item{
    width:170px;
    text-align:center;
    margin:30px 20px 5px
}

.company{
    font-family: Yekan;
    padding: 10px 0px;
    font-size: 25px;
    font-size: bold;
    
    
}

.phoneCss{
    height:300px;
    width:100%;
    /* border:1px solid red; */
    /* border-radius-t: 30px; */
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    /* background-color: #e6ebeb90; */
}

.emailCss{
    font-family: Yekan;
    padding: 10px 0px;
}

.emailCss1{

    font-family: Yekan;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 15px;
    margin:0px 3px 0px 0px

}

@media screen and (max-width: 900px) {

    .contentItem{
        width:100%
    }
    .contentItem1{
        width:100%
    }





  
   
}

@media screen and (max-width: 720px) {

    .phoneCss{
        border-top-left-radius: 30px;
    }





  
   
}