.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:250px;
    border-radius: 10px;
    background-color: white;
    margin: 2px;
    box-shadow: 0 0 4px 1px #ddd;
cursor: pointer;

}


.imgCss{
    padding:0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover{
    transform: scale(1.02)

 }

 .imgLogoCss{
    width:200px;
    height:200px;
    border-radius:100%;
    cursor:pointer;
    margin-top: 30px;
    margin-bottom: 5px;

    
 }

 .imgLogoCss:hover{
    /* transform: scale(1.04) */
    transform: rotate(20deg);

 }