@import url('./Fonts.css');
.headerCss{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:0px auto ;
    justify-content:center;
    padding:7px;
    animation: move 5s infinite;
    font-family: Yekan;
/* background-color: #3bc6de; */
animation-delay: -2s;
}
@keyframes move {
    from {background-color: #ebf7a8a1;}
    to {background-color: #d5fa05a1;}
  }

.filterDiv{
    width:25%;
}
.airCss{
    width: 70%;
    margin:0px auto
}


.content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:90%;
    margin: 20px;
}



@media screen and (max-width: 1208px) {

    .content{
     flex-direction: column;

    }

    .filterDiv{
        width:90%;
        margin:10px auto
    }

    .airCss{
      width:90%  
    }

}

