@import url('./Fonts.css');
.headerCss{
    width:100%;
    height: 60px;
    font-family: Yekan;
    font-weight: bold;
    font-size: 19px;
    background-color:rgba(239, 237, 237, 0.199);

}



.header{
    width:75%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:0px auto ;
    justify-content:space-around;
}

.headerItem1 button{
    padding:10px 10px;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #E5E7E9;
}

.headerItem1{

    margin:10px 0px

}

.headerItem{

   margin:20px 0px

}
.filterDiv{
    width:25%;
    margin-top: 65px;
}
.airCss{
    width: 70%;
    margin:0px auto
}


.content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:90%;
    margin: 20px;
}

.iconcss{
    transform:rotate(-135deg);
    margin:0px 10px
}

.iconcss1{
    margin:0px 10px  
}



@media screen and (max-width: 1208px) {

    .content{
     flex-direction: column;

    }

    .filterDiv{
        width:90%;
        margin:10px auto
    }

    .airCss{
      width:90%  
    }

}
@media screen and (max-width: 600px) {

    .header{
     width: 100%;

    }


}
