@import url('./Fonts.css');

.showAllCss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

 
  }

.iconCss{
    width: 80px;
}

.showAllCssItem1{
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.showAllCssItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
    padding: 20px 40px;

margin:20px;
font-family: 'Yekan';
font-weight: bold;
font-size: 17px;
border-radius: 20px;
}
.userContentItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
width: 30%;
margin:20px auto;
font-family: 'Yekan';
font-weight: bold;
font-size: 17px;
border-radius: 20px;
padding:20px 0px

}

.allUserchartCss{
    width:95%;
    margin:20px auto ;
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
    border-radius: 20px;
    align-items: center;
    

}

.allUserchartCss1{
    width: 70%;
    margin:20px auto 30px auto;
    /* padding:20px auto; */
    height: 500px;


}





.chartCss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.pieChartCss{
    display: flex;
    flex-direction: column;
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
    margin: 20px auto;
    width: 93%;
    border-radius: 20px;

}

.pieChartCssItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px;

}



.chartCssItem{
    /* position: relative; */
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
    padding: 0px 40px;
    width: 35%;
    margin:0px auto;
    border-radius: 20px;
    height: 380px;
}


.chartCssItem div{
    font-family: Vazir;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 10px 5px;
}

.headerCss{
    font-family: Vazir;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 10px 5px;

}

.tableHotelCss{
    border: 3px solid #34495E ;
    background-color:#34495E  ;
    color: rgb(224, 221, 221);
}



.tableBodyCss{
    border: 3px solid #ebe9eadf  ;
    background-color:#ebe9eadf ;
    margin-top: 30px;

}

.tableContent{
    align-items: center;
    width: 90%;
    margin:5px auto
}

.chartCssItem1{
    width: 50%;
  justify-content: center;
  background: #FAFBFC;
  box-shadow: 0px -1px 8px #1a1a1a1f;
  padding: 0px 50px 40px 0px ;
  margin:0px auto;
  border-radius: 20px;
  height: 380px;

}
.tableCss{
    width: 90%;
  justify-content: center;
  background: #FAFBFC;
  box-shadow: 0px -1px 8px #1a1a1a1f;
  /* padding: 0px 50px 40px 0px ; */
  margin:0px auto;
  border-radius: 20px;

}

.chartCssItem1 div{
    font-family: Vazir;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 10px 5px;
}



.showContent{
    width: 76%;
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
    margin-right: 24%;
    margin-bottom: 30px;
    padding:20px 0px

}
.dashboardContent{
    background: #FAFBFC;
    box-shadow: 0px -1px 8px #1a1a1a1f;
    position: fixed;
    width:24%;
    padding: 20px;
    display: flex;
    flex-direction: column;
height: 500px;
/* border: 2px solid red; */
top: 100px;


    
}

.dashboardContentItem{
    margin:10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.dashboardContentItem1{
    margin:20px ;
    text-align: center;
    font-weight: bold;
    font-family: Vazir;
    font-size: 16px;

}
.dashboardContentItem button{
    background-color: white;
    border: none;
    font-weight: bold;
    font-family: Vazir;
    font-size: 16px;
}

.dashboardContentItem button::after{
    background-color: red;
    /* border: none;
    font-weight: bold;
    font-family: Vazir;
    font-size: 16px; */
}



.allContentCss{
    display: flex;
    flex-direction: column;
}


.userContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}



@media screen and (max-width:700px) {
    .chartCssItem{
        width:70%;
        height:500px;
        margin:10px auto

    }

    .chartCssItem1{
        margin:10px auto;
        width:70%;

        
    }

}

@media screen and (max-width:400px) {
    .chartCssItem{
        width:70%;
        height:300px;
        margin:10px auto

    }

    .chartCssItem1{
        margin:10px auto;
        width:70%;
        padding: 60px 10px;

        
    }

    .dashboardContent{
        width: 100%;
        position: inherit;
    }

    .showContent{
        margin:20px auto
    }

    .allUserchartCss1{
        padding-top: 20px;
        width: 90%;
        height: 200px;
    }

  

}



