@import url('./Fonts.css');

.contentflex{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;
    justify-content:space-between;
    flex-wrap: wrap;
    font-family: Vazir;
    font-size: 15px;
    font-weight: bold;
    color:#000



}
.card{
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   cursor:pointer;
   width: 300px;
   background-color: white;
   box-shadow: 0 0 4px 1px #ddd;
   margin-top:5px;
   margin-bottom:5px;
}

.card:hover{
    transform: scale(1.02)

}


.img{
    padding:12px;
    border-radius: 30px;
    height:150px;
    width:100%
}

.img:hover{
    transform:rotate(6deg)

}

.divcontent{
    cursor:pointer;
    background-color:white;
    border-radius: 0.8rem;
    font-size:0.8125rem;
    width:100%;
    margin-top: 10px;

}


/* FcAlarmClock
FcPlanner */


.navCss{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin: 0px;
    background-color: yellow;
    box-shadow: none;
    justify-content: center;
    border:none

}

.divCss1{
    height:130px;
    background: rgb(2, 110, 35);
    box-shadow:none;
    border-radius: 0px;
    margin-top: 1px;

}

@media screen and (max-width:815px) {
    .navCss{
        justify-content: space-between;
    }

    .navitemCss{
        width:100%
    }

}

.navDivCss{
    color:red;
    width:100%;
    /* border:1px solid blue; */
    font-family: Vazir;
    font-weight: bold;
    font-size: 15px;
}
 .navitemCss{
    width:170px;
    text-align:center;
    border:1px solid  light;

 }


.tabContentCss{
    width:85%;
    /* border :2px solid red; */
    text-align:center;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: -90px; */
    background-color: white;
    box-shadow: 0 0 4px 1px #ddd;
    border-radius:5px;
    /* background-color: black */
    padding:30px 10px;
    margin:-90px auto 50px auto
    
}

.headercss{
    font-family: Vazir;
    font-weight: bold;
    font-size: 30px;
    width:75%;
    margin:20px auto
}