@import url('./Fonts.css');

.content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:75%;
    margin:0px auto;
  

}

.contentItem{
    display:flex;
    flex-direction: column;
    font-family: Yekan;
    border-radius: 10px;
    background-color: #e7eceb68;
    padding:30px 10px;
    margin:20px 0px;
    border:none

}


.contentItem:hover{
    background-color:white;
    box-shadow: 1px 2px 4px 1px #ddd
}

.moneyfont{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color:#0000ffd0;
    margin-top: -6px;
}

.contentItem1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:10px 0px 5px 5px;


}

.contentItem2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 17px;
    color:#929392 ;
    padding:0px 5px;
    margin:5px 20px 5px 5px;
}

.contentItem3{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color:#929392 ;


}

.headerCss{
    width: 75%;
    margin:50px auto 10px auto;
    font-family: Vazir;
    font-size: 25px;
    font-weight: bold;
}


 @media screen and (max-width: 700px) {

    .content{
justify-content:center
    }

    .headerCss{
        width: 60%
    }


  
   
}



