@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    }
     @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: Yekan;
       src: url('../fonts/Yekan.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        }

.flexContent{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: wrap;
}

.flexContentItem{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 80%;
    margin:10px auto;
    flex-wrap: wrap;

}

.header{
    font-size:24px;
    font-family: Vazir;
    font-weight: bold;
    width:76%;
    margin:20px auto
}

.Item{
    display: flex;
    flex-direction:column;
    justify-content: space-between;  
    /* width: 31%; */
    margin:5px auto;
    font-family: Yekan;
    border-radius: 10px;
    background-color: #e7eceb68;

}

.Item:hover{
    background-color:white;
    box-shadow: 1px 2px 4px 1px #ddd
}

.datefont{
   font-size: 14px;
   color:#b5b7b5 ;
   margin:7px 20px auto;
   padding:0px 5px

}

.fontspan{
    font-size: 12px;
    color:#929392 ;
    margin-right:20px;
    padding:0px 5px
}

.moneyfont{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color:#0000ffd0;
    margin-top: -6px;
}
