div > div > form > div > div > span.eyeIconPosition {
    position: relative;
    right: -92%;
    top: -46%;
  }
  
  div > div > form > div > div > div > .validationErrorField {
    position: relative;
    top: -0.7rem;
    right: -0.4rem;
  }
