@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
    }
     @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir-Bold.woff2') format('woff2'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: Yekan;
       src: url('../fonts/Yekan.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        }
         

.content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:80%;
    margin:10px auto;
    justify-content:space-between
}

.contentItem{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    box-shadow: -1px -2px -1px -1px rgb(213, 211, 211);

}

.imgCss{
    width:100px;
    height:100px;
    border-radius: 50%;
}

.fontCss{
font-family: Vazir;
font-size:13px;
font-weight:bold;
color: rgb(103, 101, 101);
margin:10px auto;
}

@media screen and (max-width: 496px) {

    .content{
 justify-content:center
    }


  
   
}