
@import url('./Fonts.css');
         .item{
    display: flex;
    flex-direction:row;
}

.item span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(225, 223, 224, 0.363);
    font-family:Yekan;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;

}

.ptext{
    margin-top: 50px;
    font-weight:bold;
    font-family: Vazir;
    font-size:14px;
    padding: 0px 10px

}

.img{
    width:30%;


}

.spanCss{
    font-family: Vazir;
    font-weight: bold;
    font-size: 30px;
    padding:60px 0px 20px 0px
}

@media screen and (max-width: 705px) {

    .img{
        width:100%
    }



  
   
}