
.divcontent{
    cursor:pointer;
    background-color:white;
    border-radius: 0.8rem;
    font-size:0.8125rem;
    width:70%;
    box-shadow:0 0 4px 1px #ddd ;
    margin-top: 130px;

}

.divCss{
    background-image: url('../img/Hotel/talab.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height:500px;
}

.navItemCss{
    width:130px;
}

.navlink{
    color:red
}



  
  

