@import url('./Fonts.css');

.content{
    width: 80%;
    margin:20px auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-family: Vazir;
    font-size: 16px;
    color:#566573 ;
    justify-content: space-between;

}

.contentItem{
    margin:20px 10px;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;

}

.spanHeader{
    font-family: Vazir;
    font-weight: bold;
    font-size: 20px;
    margin:10px 0px;
    color:black;
}

.spanItem{
    margin:7px 0px;
    background-color:rgb(250, 247, 247);
text-align: right;    
   border: none;
   color:#566573 ;
   
}
