
input:focus {
    outline: none !important;
}

select:focus {
    outline: none !important;
}

.inputcss{
    height:40px;
    width:300px;
    border-radius: 5px;
    border:1px solid #80808033;
    padding-right: 40px;
}


.iconCss{
    color:red;
    position: relative;
    animation: mymove 10s infinite;
    width:20px;
    height:20px;
    margin:0px 6px;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-delay: 2s;
}
@keyframes mymove {
    0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:5px; top:0px;}
  50%  {color:blue; left:5px; top:5px;}
  75%  {color:green; left:0px; top:5px;}
  100% {color:red; left:0px; top:0px;}
  }

