
@import url('./Fonts.css');

input:focus {
    outline: none !important;
}


select:focus {
    outline: none !important;
}

textarea:focus{
    outline: none !important;
 
}

textarea{
    background-color: red;
  padding-right: 40px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:-2px;
  border-radius: 5px;
  border:none;
  border-radius: 5px;
  background-color: #e3e1e154;
  font-family:Yekan;
  font-weight: bold;
  font-size: 20px;
  margin:2px

}

.content select{
  background-color: red;
  padding-right: 40px;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:-2px;
  width:230px;
  height:70px;
  border-radius: 5px;
  border:none;
  border-radius: 20px;
  background-color: #e3e1e154;
  font-family:Yekan;
  font-weight: bold;
  font-size: 20px;

}

.inputcss{
    padding-right: 40px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:-2px;
    width:100%;
    height:70px;
    border-radius: 5px;
    border:none;
    border-radius: 20px;
    background-color: #e3e1e154;
    font-family:Yekan;
    font-weight: bold;
    font-size: 20px;
}

.inputcss:hover{
    background-color: #ffff;
    box-shadow: 0 0 4px 1px #ddd}

textarea:hover{
    background-color: #ffff;
    box-shadow: 0 0 4px 1px #ddd

}
.content{
    display:flex;
    flex-direction: column;
}


.iconCss{
    color:red;
    animation: mymove 10s infinite;
    width:20px;
    height:20px;
    margin:0px 6px;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-delay: 2s;
    position: none;
}
@keyframes mymove {
    0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:5px; top:0px;}
  50%  {color:blue; left:5px; top:5px;}
  75%  {color:green; left:0px; top:5px;}
  100% {color:red; left:0px; top:0px;}
  }

  @media screen and (max-width: 800px) {

    .content{
width:100%
    }


  
   
}

